<a href="https://colab.research.google.com/github/SnehhaPadmanabhan/Data-visualization/blob/master/file_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
cities_xls = pd.read_excel('Cities.xlsx', 'Cities', index_col=None)
cities_xls.to_csv('Cities.csv', encoding='utf-8')

In [32]:
cities = pd.read_csv("Cities.csv").iloc[:, 1:]
print(cities.head(2))

          City       State
0     New York    New York
1  Los Angeles  California

In [35]:
customers_xls = pd.read_excel('Customers.xlsx', 'Customers', index_col=None)
customers_xls.to_csv('Customers.csv', encoding='utf-8')
customers = pd.read_csv("Customers.csv").iloc[:, 1:]
print(customers.head(2))

   CustomerId    OpenDate Gender  Age         City Country Preferred
0      991840  2018-01-01      M   33  Los Angeles     USA         N
1      991842  2018-01-01      M   38     San Jose     USA         N

In [36]:
products_xls = pd.read_excel('Products.xlsx', 'Products', index_col=None)
products_xls.to_csv('Products.csv', encoding='utf-8')
products = pd.read_csv("Products.csv").iloc[:, 1:]
print(products.head(2))

  Product_Id Product_Sub-Category Product_Category  Price  Profit
0   FUR11101        Central Table        Furniture    200    35.0
1   FUR11102       Computer Table        Furniture    150    20.0

In [0]:
orders_xls = pd.read_excel('Orders.xlsx', 'Orders', index_col=None)
orders_xls.to_csv('Orders.csv', encoding='utf-8')
orders = pd.read_csv("Orders.csv").iloc[:, 1:]
print(orders.head(2))

     Order Id  CustomerId Purchase_Date Product_Id  Quantity
0  OSP0012906      991876    2018-01-02   SPO11102         2
1  OSP0012926      991912    2018-01-02   SPO11102         1

In [0]:
combine1 = pd.merge(customers, cities, how = 'right', on = 'City')
combine1.head(3)

   CustomerId    OpenDate Gender  ...  Country Preferred       State
0      991840  2018-01-01      M  ...      USA         N  California
1      991846  2018-01-01      M  ...      USA         N  California
2      991860  2018-01-01      F  ...      USA         N  California

[3 rows x 8 columns]

In [0]:
combine2 = pd.merge(orders, customers, how = 'right', on = 'CustomerId')
combine2.head(3)

     Order Id  CustomerId Purchase_Date  ...     City  Country Preferred
0  OSP0012906      991876    2018-01-02  ...  Atlanta      USA         N
1  OSP0012926      991912    2018-01-02  ...  Phoenix      USA         N
2  OFU0001835      991912    2018-01-24  ...  Phoenix      USA         N

[3 rows x 11 columns]

In [0]:
combine3 = pd.merge(orders, products, how = 'right', on = 'Product_Id')

In [0]:
orders.columns

Index(['Order Id', 'CustomerId', 'Purchase_Date', 'Product_Id', 'Quantity'], dtype='object')

In [0]:
# fields in the resulting dataframe
combine3.columns

Index(['Order Id', 'CustomerId', 'Purchase_Date', 'Product_Id', 'Quantity',
       'Product_Sub-Category', 'Product_Category', 'Price', 'Profit'],
      dtype='object')

Unit testing :
1. Check if total number of records is equal to the number of orders placed

In [0]:
print(len(combine1.index))
print(len(customers.index))
# No duplicates produced in 1st merge--> pass

64538
64538

In [0]:
print(len(combine2.index))
print(len(orders.index))

84194
67880

In [0]:
print(combine2.iloc[82892])

Order Id                NaN
CustomerId          1139011
Purchase_Date           NaN
Product_Id              NaN
Quantity                NaN
OpenDate         2020-03-08
Gender                    F
Age                      58
City                 Austin
Country                 USA
Preferred                 N
Name: 82892, dtype: object

Corrections after unit test

In [0]:
c1 = pd.merge(left = customers, right = cities, left_on = 'City', right_on = 'City')
print(len(c1.index))
print(len(customers.index))

64538
64538

In [0]:
c2 = pd.merge(left = orders, right = c1, left_on = 'CustomerId', right_on = 'CustomerId')
print(len(c2.index))
print(len(orders.index))

67880
67880

In [0]:
c3 = pd.merge(left = c2, right = products, left_on = 'Product_Id', right_on = 'Product_Id')
print(len(c3.index))
print(len(c2.index))

67880
67880

In [0]:
flag = 0
for i in range(len(c2.index)):
  if c2.index[i]!=c3.index[i]:
    flag = 1
    break
if flag==0:
  print("No mismatch till end of orders.")
else:
  print("Mismatch occured")

No mismatch till end of orders.

In [0]:
c3.columns

Index(['Order Id', 'CustomerId', 'Purchase_Date', 'Product_Id', 'Quantity',
       'OpenDate', 'Gender', 'Age', 'City', 'Country', 'Preferred', 'State',
       'Product_Sub-Category', 'Product_Category', 'Price', 'Profit'],
      dtype='object')

In [0]:
writer = pd.ExcelWriter('MERGE1.xlsx')
c3.to_excel(writer, sheet_name = 'MERGE1')
writer.save()

Adding additional information that might be useful for further processing

In [1]:
import pandas as pd
test_xls = pd.read_excel('MERGE1.xlsx', 'MERGE1', index_col=None)
test_xls.to_csv('MERGE1.csv', encoding='utf-8')
test = pd.read_csv("MERGE1.csv").iloc[:, 1:]
test.columns

Index(['Unnamed: 0.1', 'Order Id', 'CustomerId', 'Purchase_Date', 'Product_Id',
       'Quantity', 'OpenDate', 'Gender', 'Age', 'City', 'Country', 'Preferred',
       'State', 'Product_Sub-Category', 'Product_Category', 'Price', 'Profit'],
      dtype='object')

In [2]:
len(test.index)

67880

In [0]:
test.rename(columns = {'Age range':'Age_range'}, inplace = True)

In [0]:
test['Age_range'] = ''

In [0]:
test.drop(columns = 'Unnamed: 0.1', axis = 1, inplace = True)

In [6]:
test.columns

Index(['Order Id', 'CustomerId', 'Purchase_Date', 'Product_Id', 'Quantity',
       'OpenDate', 'Gender', 'Age', 'City', 'Country', 'Preferred', 'State',
       'Product_Sub-Category', 'Product_Category', 'Price', 'Profit',
       'Age_range'],
      dtype='object')

In [7]:
test.rename(columns = {'Order Id': 'OrderId'}, inplace = True)
test.columns

Index(['OrderId', 'CustomerId', 'Purchase_Date', 'Product_Id', 'Quantity',
       'OpenDate', 'Gender', 'Age', 'City', 'Country', 'Preferred', 'State',
       'Product_Sub-Category', 'Product_Category', 'Price', 'Profit',
       'Age_range'],
      dtype='object')

In [13]:
for i in range(len(test.index)):
  age = test.iloc[i]['Age']
  id = test.iloc[i]['OrderId']
  if age>60:
    test.loc[test.OrderId == id, 'Age_range'] = '>60'
  elif age>=50:
    test.loc[test.OrderId == id, 'Age_range'] = '50-60'
  elif age>=40:
    test.loc[test.OrderId == id, 'Age_range'] = '40-50'
  elif age>=30:
    test.loc[test.OrderId == id, 'Age_range'] = '30-40'
  elif age>=20:
    test.loc[test.OrderId == id, 'Age_range'] = '20-30'
  else:
    test.loc[test.OrderId == id, 'Age_range'] = '<20'

test.head(10)

      OrderId  CustomerId Purchase_Date  ... Price  Profit Age_range
0  OSP0012906      991876    2018-01-02  ...    10    3.75     30-40
1  OSP0012926      991912    2018-01-02  ...    10    3.75     30-40
2  OSP0013011      992109    2018-01-09  ...    10    3.75     20-30
3  OSP0013019      992135    2018-01-05  ...    10    3.75     20-30
4  OSP0013058      992238    2018-01-05  ...    10    3.75     20-30
5  OSP0012940      991932    2018-01-06  ...    10    3.75     30-40
6  OSP0012960      991981    2018-01-06  ...    10    3.75     20-30
7  OSP0013123      992395    2018-01-06  ...    10    3.75     40-50
8  OSP0013130      992407    2018-01-06  ...    10    3.75     20-30
9  OSP0013131      992408    2018-01-06  ...    10    3.75     30-40

[10 rows x 17 columns]

In [14]:
test.dtypes

OrderId                  object
CustomerId                int64
Purchase_Date            object
Product_Id               object
Quantity                  int64
OpenDate                 object
Gender                   object
Age                       int64
City                     object
Country                  object
Preferred                object
State                    object
Product_Sub-Category     object
Product_Category         object
Price                     int64
Profit                  float64
Age_range                object
dtype: object

In [15]:
len(test.index)

67880

In [20]:
test.Purchase_Date = pd.to_datetime(test.Purchase_Date, format = '%Y-%m-%d')
test.dtypes

OrderId                         object
CustomerId                       int64
Purchase_Date           datetime64[ns]
Product_Id                      object
Quantity                         int64
OpenDate                        object
Gender                          object
Age                              int64
City                            object
Country                         object
Preferred                       object
State                           object
Product_Sub-Category            object
Product_Category                object
Price                            int64
Profit                         float64
Age_range                       object
dtype: object

In [21]:
test.head(3)

      OrderId  CustomerId Purchase_Date  ... Price  Profit Age_range
0  OSP0012906      991876    2018-01-02  ...    10    3.75     30-40
1  OSP0012926      991912    2018-01-02  ...    10    3.75     30-40
2  OSP0013011      992109    2018-01-09  ...    10    3.75     20-30

[3 rows x 17 columns]

In [0]:
month = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
test['Month']  = ''
for i in range(len(test.index)):
  date = test.iloc[i]['Purchase_Date']
  m = date.month
  id = test.iloc[i]['OrderId']
  test.loc[test.OrderId==id, 'Month'] = month[m]

In [24]:
test.rename(columns = {'Month':'Month_of_purchase'}, inplace = True)
test.head(5)

      OrderId  CustomerId Purchase_Date  ... Profit  Age_range Month_of_purchase
0  OSP0012906      991876    2018-01-02  ...   3.75      30-40           January
1  OSP0012926      991912    2018-01-02  ...   3.75      30-40           January
2  OSP0013011      992109    2018-01-09  ...   3.75      20-30           January
3  OSP0013019      992135    2018-01-05  ...   3.75      20-30           January
4  OSP0013058      992238    2018-01-05  ...   3.75      20-30           January

[5 rows x 18 columns]

In [0]:
writer = pd.ExcelWriter('final.xlsx')
test.to_excel(writer, sheet_name = 'final')
writer.save()

In [26]:
len(test.index)

67880

Other unit tests

In [48]:
test.dtypes

OrderId                         object
CustomerId                       int64
Purchase_Date           datetime64[ns]
Product_Id                      object
Quantity                         int64
OpenDate                        object
Gender                          object
Age                              int64
City                            object
Country                         object
Preferred                       object
State                           object
Product_Sub-Category            object
Product_Category                object
Price                            int64
Profit                         float64
Age_range                       object
Month_of_purchase               object
dtype: object

In [49]:
customers.dtypes

CustomerId     int64
OpenDate      object
Gender        object
Age            int64
City          object
Country       object
Preferred     object
dtype: object

In [57]:
# Correctness of customer details in final file
import numpy as np
test_ids = ['OSP0012977', 'OST0006790', 'OST0005544', 'OFU0000249', 'OSP0029919', 'OKI0000122']
for i in test_ids:
  print('Testing on product id '+i)
  data1 = test.loc[test.OrderId==i]
  cust_id = data1.CustomerId
  data2 = customers.loc[customers.CustomerId==cust_id.iloc[0]]
  assert(data1.Age.iloc[0] == data2.Age.iloc[0])
  assert(data1.OpenDate.iloc[0] == data2.OpenDate.iloc[0])
  assert(data1.Gender.iloc[0] == data2.Gender.iloc[0])
  assert(data1.City.iloc[0] == data2.City.iloc[0])
  assert(data1.Country.iloc[0] == data2.Country.iloc[0])
  assert(data1.Preferred.iloc[0] == data2.Preferred.iloc[0])
  print('Passed')

Testing on product id OSP0012977
Passed
Testing on product id OST0006790
Passed
Testing on product id OST0005544
Passed
Testing on product id OFU0000249
Passed
Testing on product id OSP0029919
Passed
Testing on product id OKI0000122
Passed

In [0]:
products.rename(columns = {'Product_Sub-Category':'Product_Sub_Category'}, inplace = True)
test.rename(columns = {'Product_Sub-Category':'Product_Sub_Category'}, inplace = True)

In [61]:
# Correctness of product details in final file
import numpy as np
test_ids = ['OSP0012977', 'OST0006790', 'OST0005544', 'OFU0000249', 'OSP0029919', 'OKI0000122']
for i in test_ids:
  print('Testing on product id '+i)
  data1 = test.loc[test.OrderId==i]
  prod_id = data1.Product_Id
  data2 = products.loc[products.Product_Id==prod_id.iloc[0]]
  assert(data1.Product_Sub_Category .iloc[0] == data2.Product_Sub_Category .iloc[0])
  assert(data1.Product_Category.iloc[0] == data2.Product_Category.iloc[0])
  assert(data1.Price.iloc[0] == data2.Price.iloc[0])
  assert(data1.Profit.iloc[0] == data2.Profit.iloc[0])
  print('Passed')

Testing on product id OSP0012977
Passed
Testing on product id OST0006790
Passed
Testing on product id OST0005544
Passed
Testing on product id OFU0000249
Passed
Testing on product id OSP0029919
Passed
Testing on product id OKI0000122
Passed

In [62]:
# check if the order ids are unique in the final file
# each field is a series
print(test.OrderId.is_unique)

True

In [64]:
# check if number of product ids is less than or equal to the number of product ids in the product file
print(test.Product_Id.nunique()==products.Product_Id.nunique())

True

In [67]:
# check if number of customer ids is less than or equal to the number of customer ids in the product file
print(test.CustomerId.nunique()<=customers.CustomerId.nunique())

True